/* 
    Document   : lagerix-web-app.css
    Created on : 17.10.2013, 16:47:59
    Author     : Tamás Ströber
*/

.lagerix-margin5{
	margin: 5px;
}

.lagerix-scrollable {
    overflow-y: auto;
}

.lagerix-bodycontainer {
    max-height: 250px !important;
}

.lagerix-yard{
    height: 50px !important;
    margin: 2px !important;
    padding: 3px 5px !important;
    font-size: 10px !important;
    text-align: center !important;
    width: 100px !important;
    float: left !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    text-overflow: ellipsis-word  !important
}

.lagerix-textColor{
    color: #000000 !important
}

.lagerix-yard-span{
    display:inline-block;
    width:80px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}