<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hscoburg.etif.vbis.lagerix.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lagerix_logo_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.SearchFormActivity"
            android:label="@string/title_activity_search_form"
            android:parentActivityName="de.hscoburg.etif.vbis.lagerix.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hscoburg.etif.vbis.lagerix.android.MainActivity" />
        </activity>
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:parentActivityName="de.hscoburg.etif.vbis.lagerix.android.SearchFormActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hscoburg.etif.vbis.lagerix.android.SearchFormActivity" />
        </activity>
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.hscoburg.etif.vbis.lagerix.android.LoginActivity" >
        </activity>
        <activity
            android:name="de.hscoburg.etif.vbis.lagerix.android.LogoutActivity"
            android:label="@string/title_activity_logout" >
        </activity>
    </application>

</manifest>
