# Local project files #
#######################

bin/
gen/
target/
.settings/
.project
.classpath
local.properties

# External Libraries needed for compilation #
#############################################

!libs/*